@{
    ViewData["Title"] = "Confirmar Remoção do Tipo de Exame";
}

<div class="col-md-12 col-xs-12 mt-auto">
    <div class="text-center">
        <h3>Realmente deseja apagar os dados desse tipo de exame?</h3>
    </div>
    <br />
    <br />
    <a class="btn btn-warning btn-block" asp-controller="TiposdeExame" asp-action="Index" role="button">Cancelar</a>
    <a class="btn btn-danger btn-block" asp-controller="TiposdeExxame" asp-action="Apagar" role="button">Apagar dados desse Tipo de Exame</a>
</div>