@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>
        Aplicação com sistema de cadastros de Pacientes, Exames, Tipos de exames e Marcação de consultas.
    </p>
</div>
